/* src/content/components/TextExplanationSidePanel/TextExplanationFooter.module.css */

.footer {
  background: rgba(149, 39, 245, 0.05);
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 50px;
}

